/* 

get by class: use .
get by id: use #
get elements (h1, p, etc...): use NOTHING!
*/

html, body {
  height: 100%;
  background-color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  /* scroll-behavior: smooth; */


}


/* Style the header */
.header {
  padding: 10px 16px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(99,203,93,1) 100%);
  color: black;
  /* position: fixed;
  margin-bottom: 30px;
  width: 100% */
  display: flex;
    /* background: transparent(0); */

}

h1, h2, h3, h4, h5 {
  font-family: fantasy;
  text-align: center;
  margin: 0.5vh;
}

.btn,
.btn-outline-primary,
.btn-outline-success,
.btn-outline-danger,
#edit-plant-button,
#delete-plant-button {
  cursor: pointer;
  border-radius: .5rem;
}
/* .plants-card, */
.plant-submit-form,
div.row {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(99,203,93,1) 100%);
  border-width: 1px;
  border-color: #2d5a35;
  border-style: inset;
  text-align: center;
  border-radius: .5rem;
  /* border-color: #000;
  border-width:3px !important; */
  margin: 1vh;
  /* max-width: 500px;  */

}
/* 
.plants-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
} */

#plants-container,
.plants-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}


/* Page content */
.content {
  padding: 1px;
  
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}




.progress-bar {
  position: relative;
  background-color: brown;
  border-radius: .5rem;
  color: white;
  height: 2em;
  width: 20rem;

  
}

.progress-bar::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  min-width: calc(var(--width, 0) * 1%);
  max-width: calc(100% - 1em);
  background-color: blue;
  border-radius: .5rem;
  padding: 1em;
}